{% comment %}ly_global_begin{% endcomment %}{% capture ly-global-content %}{% render 'ly-global' render:true %}{% endcapture %}{% assign ly-global-content = ly-global-content | split: '#ly#' %}{% assign langify_title = ly-global-content[0] %}{% assign langify_description = ly-global-content[1] %}{% assign langify_shop_name = ly-global-content[2] %}{% assign langify_shop_description = ly-global-content[3] %}{% assign canonical_langify_url = ly-global-content[4] %}{% assign langify_shop_url = ly-global-content[5] %}{% assign langify_shop_domain = ly-global-content[6] %}{% comment %}ly_global_end{% endcomment %}
<div id="contactFormWrapper">
  {% form 'contact' %}

    {% if form.posted_successfully? %}
      <div class="successForm feedback">
        <p>{% comment %}ly_i18n_replace_for_[ 'contact.form.post_success' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.post_success' | t }}{% endcapture %}{% capture ly_translation %}{% render 'ly-static-string' with '20316136' render:true %}{% endcapture %}{% if ly_translation != '' and ly_translation != nil  %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
      </div>
    {% endif %}

    {% if form.errors %}
      <div class="errorForm feedback">
        <p>{% comment %}ly_i18n_replace_for_[ 'general.forms.post_error' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.forms.post_error' | t }}{% endcapture %}{% capture ly_translation %}{% render 'ly-static-string' with '20316137' render:true %}{% endcapture %}{% if ly_translation != '' and ly_translation != nil  %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
      </div>
    {% endif %}

  {% if type.settings.cf_show_first_name %}
    <div class="desktop-12 tablet-6 mobile-3">
      <p>
        <input type="text" id="contactFormFirstName" name="contact[FirstName]" placeholder="{% comment %}ly_i18n_replace_for_[ 'contact.form.firstname' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.firstname' | t }}{% endcapture %}{% capture ly_translation %}{% render 'ly-static-string' with '20316138' render:true %}{% endcapture %}{% if ly_translation != '' and ly_translation != nil  %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" />
      </p>
    </div>
  {% endif %}
  {% if type.settings.cf_show_last_name %}
    <div class="desktop-12 tablet-6 mobile-3">
      <p>
        <input type="text" id="contactFormLastName" name="contact[LastName]" placeholder="{% comment %}ly_i18n_replace_for_[ 'contact.form.lastname' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.lastname' | t }}{% endcapture %}{% capture ly_translation %}{% render 'ly-static-string' with '20316139' render:true %}{% endcapture %}{% if ly_translation != '' and ly_translation != nil  %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" />
      </p>
    </div>
  {% endif %}
  {% if type.settings.cf_show_subject %}
    <div class="desktop-12 tablet-6 mobile-3">
      <p>
        <input type="text" id="contactFormSubject" name="contact[Subject]" placeholder="{% comment %}ly_i18n_replace_for_[ 'contact.form.subject' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.subject' | t }}{% endcapture %}{% capture ly_translation %}{% render 'ly-static-string' with '20316140' render:true %}{% endcapture %}{% if ly_translation != '' and ly_translation != nil  %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" />
      </p>
    </div>
  {% endif %}
  {% if type.settings.cf_show_company_name %}
    <div class="desktop-12 tablet-6 mobile-3">
      <p>
        <input type="text" id="contactFormCompanyName" name="contact[CompanyName]" placeholder="{% comment %}ly_i18n_replace_for_[ 'contact.form.companyname' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.companyname' | t }}{% endcapture %}{% capture ly_translation %}{% render 'ly-static-string' with '20316141' render:true %}{% endcapture %}{% if ly_translation != '' and ly_translation != nil  %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" />
      </p>
    </div>
  {% endif %}
  {% if type.settings.cf_show_address %}
    <div class="desktop-12 tablet-6 mobile-3">
      <p>
        <input type="text" id="contactFormAddress" name="contact[address]" placeholder="{% comment %}ly_i18n_replace_for_[ 'contact.form.address' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.address' | t }}{% endcapture %}{% capture ly_translation %}{% render 'ly-static-string' with '20316142' render:true %}{% endcapture %}{% if ly_translation != '' and ly_translation != nil  %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" />
      </p>
    </div>
  {% endif %}
  {% if type.settings.cf_show_website_url %}
    <div class="desktop-12 tablet-6 mobile-3">
      <p>
        <input type="text" id="contactFormWebsiteURL" name="contact[WebsiteUrl]" placeholder="{% comment %}ly_i18n_replace_for_[ 'contact.form.websiteurl' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.websiteurl' | t }}{% endcapture %}{% capture ly_translation %}{% render 'ly-static-string' with '20316143' render:true %}{% endcapture %}{% if ly_translation != '' and ly_translation != nil  %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" />
      </p>
    </div>
  {% endif %}
  <div class="desktop-12 tablet-6 mobile-3">
    <p>
      <input type="email" id="contactFormEmail" name="contact[email]" placeholder="{% comment %}ly_i18n_replace_for_[ 'contact.form.email' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.email' | t }}{% endcapture %}{% capture ly_translation %}{% render 'ly-static-string' with '20316144' render:true %}{% endcapture %}{% if ly_translation != '' and ly_translation != nil  %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" />
    </p>
  </div>
  {% if type.settings.cf_show_phone %}
    <div class="desktop-12 tablet-6 mobile-3">
      <p>
        <input type="text" id="contactFormTelephone" name="contact[phone]" placeholder="{% comment %}ly_i18n_replace_for_[ 'contact.form.phone' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.phone' | t }}{% endcapture %}{% capture ly_translation %}{% render 'ly-static-string' with '20316145' render:true %}{% endcapture %}{% if ly_translation != '' and ly_translation != nil  %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" />
      </p>
    </div>
  {% endif %}
  {% if type.settings.cf_show_custom_field_one %}
    <div class="desktop-12 tablet-6 mobile-3">
      <p>
        {% if type.settings.cf_custom_field_one_type == 'input' %}
            <input type="text" id="contactFormCustomFieldOne" name="contact[CustomFieldOne]" placeholder="{{ type.settings.cf_custom_field_one }}" />
        {% else %}
          <textarea rows="15" cols="90" id="contactFormCustomFieldOne" name="contact[CustomFieldOne]" placeholder="{{ type.settings.cf_custom_field_one }}"></textarea>
        {% endif %}
      </p>
    </div>
  {% endif %}
  {% if type.settings.cf_show_custom_field_two %}
    <div class="desktop-12 tablet-6 mobile-3">
      <p>
        {% if type.settings.cf_custom_field_two_type == 'input' %}
            <input type="text" id="contactFormCustomFieldTwo" name="contact[CustomFieldTwo]" placeholder="{{ type.settings.cf_custom_field_two }}" />
        {% else %}
          <textarea rows="15" cols="90" id="contactFormCustomFieldTwo" name="contact[CustomFieldTwo]" placeholder="{{ type.settings.cf_custom_field_two }}"></textarea>
        {% endif %}
      </p>
    </div>
  {% endif %}

    <div class="desktop-12 tablet-6 mobile-3">
      <p>
        <textarea rows="15" cols="90" id="contactFormMessage" name="contact[body]" placeholder="{% comment %}ly_i18n_replace_for_[ 'contact.form.message' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.message' | t }}{% endcapture %}{% capture ly_translation %}{% render 'ly-static-string' with '20316146' render:true %}{% endcapture %}{% if ly_translation != '' and ly_translation != nil  %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}"></textarea>
      </p>
      <p>
        <input type="submit" id="contactFormSubmit" class="secondary button" value="{% comment %}ly_i18n_replace_for_[ 'contact.form.send' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.send' | t }}{% endcapture %}{% capture ly_translation %}{% render 'ly-static-string' with '20316147' render:true %}{% endcapture %}{% if ly_translation != '' and ly_translation != nil  %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" />
      </p>
    </div>
  {% endform %}
</div>

<div class="clear"></div>
