{% comment %}ly_global_begin{% endcomment %}{% capture ly-global-content %}{% render 'ly-global' render:true %}{% endcapture %}{% assign ly-global-content = ly-global-content | split: '#ly#' %}{% assign langify_title = ly-global-content[0] %}{% assign langify_description = ly-global-content[1] %}{% assign langify_shop_name = ly-global-content[2] %}{% assign langify_shop_description = ly-global-content[3] %}{% assign canonical_langify_url = ly-global-content[4] %}{% assign langify_shop_url = ly-global-content[5] %}{% assign langify_shop_domain = ly-global-content[6] %}{% comment %}ly_global_end{% endcomment %}{% for option in product.options %}

  {% assign option_handle = option | handle %}
  {% assign option_index = forloop.index0 %}

  {% assign is_size = false %}
  {% capture downcased_option %}{{ option | downcase }}{% endcapture %}
  {% if downcased_option contains 'size' %}
    <div class="size-swatch">
      <ul data-option-index="{{ option_index }}" class="{{ option_handle }} options">
        {% assign values = '' %}
        {% for variant in product.variants %}
{%- include 'bold-variant' with variant, hide_action: 'skip' -%}
          {% if variant.available %}

          {% assign value = variant.options[option_index] | remove: csp_flag_string %}
          {% capture wrapped_value %},{{ value }},{% endcapture %}
            {% unless values contains wrapped_value %}
            <li data-option-title="{{ value | escape }}" data-href="{{ variant.featured_image | product_img_url: 'large' }}" class="color {{ value | handle }}">
              <a href="{{ variant.url | within: collection }}">{{ value | escape }}</a>
            </li>
            {% capture values %}{{ values }}{{ wrapped_value }}{% endcapture %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      </ul>
    </div><!-- .swatch -->
  {% endif %}
{% endfor %}
